.radiocontainer{
    background-color: #E7E9EB;
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    word-wrap: break-word;
}
.checkmark{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 19px;
    width: 19px;
    border-radius: 50%;
}
#quizform{
    margin-top: 50px;
}
#qtext{
    font-size: 38px;
}
/* #label1,#label2,#label3,#label4{
    
} */

h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ddddc3;
}

#quiz{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b1f2ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(28, 153, 191);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#question{
    margin-bottom: 20px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#options{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(119, 207, 255, 0.727);
    color: #131313;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #000000;
    color: white;
}

